.homepageContainer {
  height: 100vh;
  background: linear-gradient(to right, #56ccf2, #2f80ed);
  display: flex;
  flex-direction: column;
}

@keyframes aurora {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.animation {
  font-size: 3rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  background: linear-gradient(45deg, #ff00ff, #88ff00, #00ffdd, #4c789c, #6b6bbb);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s infinite ease-in-out;
}

.logoanimation {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(45deg, #ff00ff, #88ff00, #00ffdd, #4c789c, #6b6bbb);
  background-size: 300% 300%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: aurora 6s infinite ease-in-out;
}
.navbar {
  background-color: transparent !important;
  box-shadow: none !important;
}

.logo {
  flex-grow: 1;
  font-weight: bold;
}

.loginButton {
  background: white !important;
  padding: 10px !important;
  color: black !important;
  width: 100px !important;
  border-radius: 30px !important;
  transition: background-color 0.3s ease-in-out !important;
}

.loginButton:hover {
  background-color: black !important;
  color: white !important;
}

.heroSection {
  height: 63vh;
  text-align: center;
  margin-top: 8vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.getStartedButton {
  background: white !important;
  padding: 18px !important;
  color: black !important;
  border-radius: 50px !important;
  transition: background-color 0.3s ease-in-out !important;
}

.getStartedButton:hover {
  background-color: #050606 !important;
  color: white !important;
}
